{% extends 'layout/default2.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="container-login">

  <article class="container-left">
    <h2 class="">Bon retour parmi nous !</h2>
    <img alt="illustration-login" src="/assets/img/illu-login.svg" class="illu-login"/>
  </article>


<form method="post" class="container-right-login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container-input">
    <div>
    <label for="inputFirstName">Email</label>
    <input type="text" value="{{ last_username }}" name="firstName" id="inputFirstName" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn-submit" type="submit">
        Connexion
    </button>
    <p>Pas encore inscrit ? <a href="{{path('register')}}">C’est juste là !</a></p>
</form>
<section>
{% endblock %}
