{% extends "layout/default.html.twig" %}

{% block body %}

<div class="profil">
		<h1>Mon profil</h1>

	<div class="infoperso">

		<div class="name">
			<h4>Nom</h4>
			<h4>{{user.firstName}}</h4>
		</div>
		<hr>


		<div class="lastname">
			<h4>Prenom</h4>
			<h4>{{user.lastName}}</h4>
		</div>
		<hr>
			
		<div class="email">
			<h4>Adresse mail</h4>
			<h4> {{user.email}}</h4>
		</div>
		<hr>

		<div class="phone">
			<h4>Numero de télephone</h4>
			<h4>{{user.phoneNumber}}</h4>
		</div>
		<hr>
		
		<div class="">
			<h4>Numero de télephone</h4>
			<h4>{{user.phoneNumber}}</h4>
		</div>
		<hr>

		{# <h4>{{user.birthday}}</h4> #}
		<a>Supprimer</a>
	</div>
</div>
{% endblock %}
