{% extends "layout/default2.html.twig" %}

{% block body %}

	<div>
		<h1>Mon profil</h1>
		<h4>{{user.firstName}}</h4>
		<h4>{{user.lastName}}</h4>
		<h4>{{user.email}}</h4>
		<h4>{{user.password}}</h4>
		<h4>{{user.phoneNumber}}</h4>
		{# <h4>{{user.birthday}}</h4> #}
	</div>
{% endblock %}
