<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Skill_app</title>
</head>
<body>


<header>

        <nav>
            <div class="logo">
              <a href="{{ path('app_home') }}"><img src="/assets/img/mortarboard.png" alt="" width="30px"></a>
            </div>

            <ul class="menu">
            
                <li><a class="sous-menu" href="{{ path('session') }}">Reserver un examen</a></li>
                <li><a class="sous-menu" href="{{ path('login') }}">Connexion</a></li>

                {% if is_granted('ROLE_USER') %}
               l<a href="{{ path('user') }}"><img src="/assets/img/utilisateur.png"  alt="" width="25px"></a>
                {% endif %}
            </ul>

            </div>

        </nav>

    </header>

{% block body %}

{% endblock %}



<footer>
 <div class="description">
            <img src="/assets/img/mortarboard.png" alt="" width="30px">
            <p>Join the more than 100,000 creators who use Teachable to share their knowledge.
                Easily create an online course or coaching business with our powerful yet simple
                all-in-one platform.</p>
        </div>

        <div class="structure">
           
            <ul>
                <h4>Structure du site</h4>
                <li>Reserver un examen</li>
                <a href="{{ path('register') }}"><li>Inscription</li></a>
                <li>Connexion</li>
            </ul>

        </div>

        <div class="contact">
           
            <ul>
                <h4>Contact</h4>
                <li>+33 (0)9 75 38 64 50</li>
                <li>31 rue Thiers, 69 006 Lyon</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>


        </div>

</footer>


      <script src="/assets/js/app.js"></script>
</body>
</html>
