{% extends 'layout/default.html.twig' %}

{% block body %}
<h2> Mon historique </h2>
<h3> Mes examens à venir </h3>
{% for exam in exams %}

{% if examen.competences.title == "Web Design"%}
						<div class="design col-4">
					{% elseif exam.competences.title =="Développeur Web"%}
						<div class="dev col-4">
						{% elseif examen.competences.title =="Système & Réseaux" %}
						<div class="reseau col-4">
						{% elseif examen.competences.title =="DevOps" %}
						<div class="devops col-4">
						{% endif %}
							<div class="date">
								<p>{{examen.city}}</p>
								<p>{{examen.date| date('d/m/Y')}}</p>
							</div>
							<div class="image">
								<img src="/assets/img/Group 21.svg" alt="">
							</div>
							<hr>
							<div class="domaine">
								<p>{{examen.competences.title}}</p>
								<p>{{examen.competences.subtitle}}</p>
								<form action="/session/{{examen.id}}" method="post" class="form-registerExam">
									{% if examen.getIdExamens|length < 6 %}
									 <button class="btnRegisterToExam" name="submit">S'inscrire &rsaquo;</button>
									<span>{{ examen.getIdExamens|length }} / 5 </span>
									{% else %}
									<span>Examen complet ! </span>
									<span>{{ examen.getIdExamens|length }} / 5 </span>
									{% endif %}
								</form>
											
							</div>
						</div>

{% endfor %}

{% endblock %}
