{% extends 'layout/default.html.twig' %}

{% block body %}
<h2> Mon historique </h2>
<h3> Mes examens à venir </h3>

<section class="section-historique">
{% for exam in exams %}
{% if exam.Examens.competences.title == "Web Design"%}
						<div class="design col-4">
					{% elseif exam.Examens.competences.title =="Développeur Web"%}
						<div class="dev col-4">
						{% elseif exam.Examens.competences.title =="Système & Réseaux" %}
						<div class="reseau col-4">
						{% elseif exam.Examens.competences.title =="DevOps" %}
						<div class="devops col-4">
						{% endif %}
							<div class="date">
								<p>{{exam.Examens.city}}</p>
								<p>{{exam.Examens.date| date('d/m/Y')}}</p>
							</div>
							<div class="image">
								<img src="/assets/img/Group 21.svg" alt="">
							</div>
							<hr>
							<div class="domaine">
								<p>{{exam.Examens.competences.title}}</p>
								<p>{{exam.Examens.competences.subtitle}}</p>
								<form action="/session/{{exam.Examens.id}}" method="post" class="form-registerExam">
									{% if exam.Examens.getIdExamens|length < 6 %}
									 <button class="btnRegisterToExam" name="submit">S'inscrire &rsaquo;</button>
									<span>{{ exam.Examens.getIdExamens|length }} / 5 </span>
									{% else %}
									<span>Examen complet ! </span>
									<span>{{ exam.Examens.getIdExamens|length }} / 5 </span>
									{% endif %}
								</form>
											
							</div>
						</div>
{% endfor %}
                        </section>


{% endblock %}
