{% extends 'layout/default2.html.twig' %}


{% block body %}
<!DOCTYPE html>
<title>Register</title>
<section class="container-login">

  <article class="container-left">
    <h1 class="h1_registrati">Bon retour parmi nous !</h1>
    <img alt="illustration-login" src="/assets/img/illu-registration.svg" class="illu-login"/>
  </article>

  <div class="register-form">

  <div class="form">

    {{ form_start(registrationForm) }}

    <div class="between">
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
    </div>

        <div class="email">
        {{ form_row(registrationForm.email) }}
        </div>

        <div class="between2">
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.birthday) }}
        </div>

        {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

       </div>

        <button type="submit" class="btn-register ">C'est parti !</button>
        <p>Tu as déjà un compte ? <a href="{{ path('login') }}">Par ici</a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
