{% extends "layout/default.html.twig" %}

{% block body %}
	<section class="section-1">
		<h1 class="confirme">Confirme tes compétences en
			<span class="typewrite" data-period="2000" data-type='[ "web design","developpement web","système et réseaux","devOps" ]'></span>
		</h1>
		<div class="illustration">
			<img src="/assets/img/illu.svg" alt="" width="700px">
		</div>
	</section>

	<div class="ensavoirplus">
		<p><img src="/assets/img/arrow.png" alt="" width="15px">
			En savoir plus</p>
	</div>

	<h1 class="prochaine">Les prochaines sessions</h1>

	<section class="section-2">
		<h1 class="prochaine">Les prochaines sessions</h1>
		<div class="examens">
			{% for examen in examens %}
				{% for competence in competences %}
				
					{% if competence.title == "Web Design"%}
						<div class="design">
							<div class="date">
								<p>{{examen.city}}</p>
								<p>{{examen.date| date('d/m/Y')}}</p>
							</div>

							<div class="image">
								<img class="illu-skill" src="/assets/img/70.svg" alt="">
							</div>
							<hr>
							<div class="domaine">
								<p>{{examen.competences.title}}</p>
								<p>{{examen.competences.subtitle}}</p>
								<a id="webdesign">
									<small class="plus">En savoir plus</small>
								</a>
								<div id="myModal" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<h3 class="titre-exam">{{examen.competences.title}}</h3>
										<p>{{examen.competences.description}}</p>
										Vous l’aurez compris ! Au delà de l’aspect graphique, le maquettage sert surtout à créer une harmonie entre ergonomie, design et expérience utilisateur (UX). C’est aussi une étape cruciale de collaboration entre tous les membres de l’équipe de conception.</p>
								</div>
							</div>
						</div>
					{% endif %}

					{# {% if competence.title == "Développeur Web"%}
						<div class="dev">
							<div class="date">
								<p>{{examen.city}}</p>
								<p>{{examen.date| date('d/m/Y')}}</p>
							</div>
<<<<<<< HEAD

							<div class="image">
								<img class="illu-skill" src="/assets/img/70.svg" alt="">
=======
							<div class="image">
								<img src="/assets/img/Group 21.svg" alt="">
>>>>>>> 1e0e6c0a9334bc2c70ec477370b3119c9255ce70
							</div>
							<hr>
							<div class="domaine">
								<p>{{examen.competences.title}}</p>
								<p>{{examen.competences.subtitle}}</p>
								<a id="webdesign">
									<small class="plus">En savoir plus</small>
								</a>
<<<<<<< HEAD
=======

>>>>>>> 1e0e6c0a9334bc2c70ec477370b3119c9255ce70
								<div id="myModal" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<h3 class="titre-exam">{{examen.competences.title}}</h3>
										<p>{{examen.competences.description}}</p>
<<<<<<< HEAD
										Vous l’aurez compris ! Au delà de l’aspect graphique, le maquettage sert surtout à créer une harmonie entre ergonomie, design et expérience utilisateur (UX). C’est aussi une étape cruciale de collaboration entre tous les membres de l’équipe de conception.</p>
								</div>
							</div>
=======
								</div>
							</div>
						</div>
					</div>

				{% endif %}

				{% if examen.competences.title == "Développeur Web"%}
					<div class="dev col-4">
						<div class="date">
							<p>{{examen.city}}</p>
							<p>{{examen.date| date('d/m/Y')}}</p>
						</div>
						<div class="image">
							<img src="/assets/img/Group 21.svg" alt="">
						</div>
						<hr>
						<div class="domaine">
							<p>{{examen.competences.title}}</p>
							<p>{{examen.competences.subtitle}}</p>
							<a id="dev">
								<small class="plus">En savoir plus</small>
							</a>
							<div id="myModal2" class="modal2">
                                    <div class="modal-content2">
                                        <span class="close2">&times;</span>
                                        <h3 class="titre-exam">{{examen.competences.title}}</h3>
                                        <p>{{examen.competences.description}}</p>
                                </div>
                            </div>
>>>>>>> 1e0e6c0a9334bc2c70ec477370b3119c9255ce70
						</div>
					{% endif %}

<<<<<<< HEAD
					{% if competence.title == "Système & Réseaux" %}

						<div class="reseau">
							<div class="date">
								<p>{{examen.city}}</p>
								<p>{{examen.date| date('d/m/Y')}}</p>
							</div>

							<div class="image">
								<img class="illu-skill" src="/assets/img/70.svg" alt="">
							</div>
							<hr>
							<div class="domaine">
								<p>{{examen.competences.title}}</p>
								<p>{{examen.competences.subtitle}}</p>
								<a id="webdesign">
									<small class="plus">En savoir plus</small>
								</a>
								<div id="myModal" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<h3 class="titre-exam">{{examen.competences.title}}</h3>
										<p>{{examen.competences.description}}</p>
										Vous l’aurez compris ! Au delà de l’aspect graphique, le maquettage sert surtout à créer une harmonie entre ergonomie, design et expérience utilisateur (UX). C’est aussi une étape cruciale de collaboration entre tous les membres de l’équipe de conception.</p>
								</div>
							</div>
=======
				{% endif %}

				{% if examen.competences.title == "Système & Réseaux"%}
					<div class="reseau">
						<div class="date">
							<p>{{examen.city}}</p>
							<p>{{examen.date| date('d/m/Y')}}</p>
						</div>
						<div class="image">
							<img src="/assets/img/Group 21.svg" alt="">
						</div>
						<hr>
						<div class="domaine">
							<p>{{examen.competences.title}}</p>
							<p>{{examen.competences.subtitle}}</p>
							<a id="setr">
								<small class="plus">En savoir plus</small>
							</a>
							<div id="myModal3" class="modal3">
                                    <div class="modal-content3">
                                        <span class="close3">&times;</span>
                                        <h3 class="titre-exam">{{examen.competences.title}}</h3>
                                        <p>{{examen.competences.description}}</p>
                                </div>
                            </div>
>>>>>>> 1e0e6c0a9334bc2c70ec477370b3119c9255ce70
						</div>
					{% endif %}

<<<<<<< HEAD
					{% if competence.title == "Dev Ops" %}
						<div class="devops">
							<div class="date">
								<p>{{examen.city}}</p>
								<p>{{examen.date| date('d/m/Y')}}</p>
							</div>

							<div class="image">
								<img class="illu-skill" src="/assets/img/70.svg" alt="">
							</div>
							<hr>
							<div class="domaine">
								<p>{{examen.competences.title}}</p>
								<p>{{examen.competences.subtitle}}</p>
								<a id="webdesign">
									<small class="plus">En savoir plus</small>
								</a>
								<div id="myModal" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<h3 class="titre-exam">{{examen.competences.title}}</h3>
										<p>{{examen.competences.description}}</p>
										Vous l’aurez compris ! Au delà de l’aspect graphique, le maquettage sert surtout à créer une harmonie entre ergonomie, design et expérience utilisateur (UX). C’est aussi une étape cruciale de collaboration entre tous les membres de l’équipe de conception.</p>
								</div>
							</div>
						</div>
					{% endif %} #}
				{% endfor %}
			{% endfor %}
		</div>
=======
				{% endif %}

				{% if examen.competences.title == "DevOps"%}
					<div class="devops">
						<div class="date">
							<p>{{examen.city}}</p>
							<p>{{examen.date| date('d/m/Y')}}</p>
						</div>
						<div class="image">
							<img src="/assets/img/Group 21.svg" alt="">
						</div>
						<hr>
						<div class="domaine">
							<p>{{examen.competences.title}}</p>
							<p>{{examen.competences.subtitle}}</p>
							<a id="devops">
								<small class="plus">En savoir plus</small>
							</a>
							<div id="myModal4" class="modal4">
                                    <div class="modal-content4">
                                        <span class="close4">&times;</span>
                                        <h3 class="titre-exam">{{examen.competences.title}}</h3>
                                        <p>{{examen.competences.description}}</p>
                                </div>
                            </div>
						</div>
					</div>

				{% endif %}
			{% endif %}
		{% endfor %}

>>>>>>> 1e0e6c0a9334bc2c70ec477370b3119c9255ce70
	</section>

	<div class="voir">
		<a href="{{path('session')}}">
			<p>Voir tous les examens ></p>
		</a>
	</div>

{% endblock %}
